main {
    margin-top : 100px;
}

.inner{
    margin-top: 100px;}

.topbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}


.topbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topbar a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.gif-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 400px;


}


.gif-image:hover{
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
}

.project-summary{
    top: 180px;
}

