main {
    margin-top : 100px;
}

.inner{
    margin-top: 100px;}




.topbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topbar a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.gif-image{
    display: block;
    float: inside;
    height: 200px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;


}


.gif-image:hover{
    -webkit-transform:scale(2);
    transform:scale(2);
}

.project-summary{
    top: 180px;
}

.row::after{
    content:"";
    clear:both;
    display: table;

}

.profile-trim {
    float:left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 2%;
    margin-left:4%;

}


.profile {
    display: inline;
    margin: 0 auto;
    margin-left: -8%;
    height: 100%;
    width: auto;
}

.profile-lili {
    display: inline;
    margin: 0 auto;
    margin-left: -2%;
    height: 100%;
    width: auto;
}

.profile-coco {
    display: inline;
    margin: 0 auto;
    margin-left: -5%;
    height: 100%;
    width: auto;
}


.inner-dataVis{
    background: #f2f2f2;
}



.inner-project-summary{
    background: cornsilk;
}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.topbar {
    overflow: hidden;

    position: fixed;
    margin-left: 0px;
    top: 0px;
    width: 100%;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: #333333;
    outline: #333333;
    cursor: pointer;
    padding: 8px 10px;
    font-size: 20px;
    width: 200px;
    height: 75px;

}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    /*color: white;*/
    display: none;
    padding: 80px 20px;
    height: 100%;
}

#project {background-color: lavender;}
#dataVis {background-color: lightcyan;}
#rldata {background-color: lightblue;}
#soft-dev {background-color: cornsilk;}
#pro-lan {background-color: lightpink;}


