

.gif-image{
    display: block;
    float: inside;
    height: auto;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #555;

}


.gif-image:hover{
    -webkit-transform:scale(2.3);
    transform:scale(2.3);

}


.row::after{
    content:"";
    clear:both;
    display: table;

}

.profile-trim {
    float:left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 2%;
    margin-left:4%;

}


.profile {
    display: inline;
    margin: 0 auto;
    margin-left: -8%;
    height: 100%;
    width: auto;
}

.profile-lili {
    display: inline;
    margin: 0 auto;
    margin-left: -2%;
    height: 100%;
    width: auto;
}

.profile-coco {
    display: inline;
    margin: 0 auto;
    margin-left: -5%;
    height: 100%;
    width: auto;
}



/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Comic Sans MS;
}

.topbar {
    overflow: hidden;

    position: fixed;
    margin-left: 0px;
    top: 0px;
    width: 100%;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: #333333;
    outline: #333333;
    cursor: pointer;
    padding: 8px 10px;
    font-size: 20px;
    font-family: Comic Sans MS;
    width: 200px;
    height: 75px;

}

.tablink:hover {
    background-color: grey;
}


.tabcontent {
    display: none;
    padding: 90px 120px;
    height: 100%;
}

#project {background-color: #f2e6ff;}
#dataVis {background-color: #ecf9f2;}
#rldata {background-color: #ecf2f9;}
#soft-dev {background-color: #ffe7b3;}
#pro-lan {background-color: #ffe6e6;}


.panel-wrap{
    padding-top: 30px;
}

.field-title{
    font-family: Arial Black;
    color: darkslategray;
    font-size: 30px;

}

.panel-heading{
    font-size: 22px;
    font-family: Arial;
}

.panel-body{
    font-size:17px;
    font-family: Arial;
}